<!DOCTYPE html>
<html>
<head>
    <title>FSE Chat Room</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="main">
        <ul id="messages"></ul>
        <textarea id="m"></textarea>
        <span class="btn">
            <button>POST</button>
        </span>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery-3.1.0.min.js"></script>
    <!-- <script  src="https://code.jquery.com/jquery-3.1.0.min.js"></script> -->
    <script>
        var Method = {};
        Method.formatMessage = function(item) {
            return '<li>' + '<div class="header">' +
                                '<span class="name">' + item.name + '</span>' + 
                                '<span class="time">' + item.time + '</span>' +
                            '</div>' +
                            '<p>' + item.msg + '</p>' +

                  '</li>';
        };

        Method.formatDate = function(date) {
            var h = date.getHours();
            var ap = '';
            if(h < 12) {
                ap = 'AM';
            }
            else {
                h -= 12;
                ap = 'PM';
            }
            var m = date.getMonth() + 1;
            if(m < 10){
                m = '0' + m;
            }
            var d = date.getDate();
            if(d < 10) {
                d = '0' + d;
            }
            return m + '.' + d + '.' +date.getFullYear() +
                    ' ' + h + ':' + date.getMinutes() + ap;
        };

        var Sock = function () {
            this.socket = io();
        };

        Sock.prototype.setUserID = function(uID) {
            this.uID = uID;
        }

        Sock.prototype.setSubmitAction = function() {
            var __this = this;
            $('button').click(function() {
                __this.socket.emit('chat message', {name:__this.uID,time:Method.formatDate(new Date()),msg:$('#m').val(),num:0});
                $('#m').val('');
            });
        };

        Sock.prototype.setReceiveAction = function() {
            this.socket.on('chat message',function(item){
                var $messages = $('#messages');
                $messages.append(Method.formatMessage(item));
                // var element = document.getElementById('messages');
                // element.scrollTop = element.scrollHeight;
                $messages.scrollTop($messages.get(0).scrollHeight);
            });
        };

        var socket = new Sock();
        socket.setUserID('<%= uID %>');
        socket.setSubmitAction();
        socket.setReceiveAction();
        //console.log(socket.uID);
    </script>
</body>
</html>

