<!DOCTYPE html>
<html>
<head>
<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    border: 1px solid black;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}

.uID {
    width: 100%;
    display: flex;
    align-items: center;
}

input {
    border: 1px solid red;
    flex-grow: 1;
    font-size: 30px;
    margin: 10px;
}

button {
    border: 1px solid blue;
    width: 30%;
    height: 10%;
    font-size: 30px;
    font-weight: bold;
}

</style>
<title>Login</title>
</head>
<body>
    <form action="/main">
        <div class="uID">ID:<input type="text" name="uID"></div>
        <button>login</button>
    </form>
</body>
</html>