* {
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}

.main {
    position: fixed;
    width: 100%;
    height: 100%;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


#messages {
    width: 90%;
    flex: 5;
    border: 1px solid orange;
    margin-top: 30px;
    overflow-y: scroll;
}


#messages li {
    background-color: #F2F2F2;
    list-style-type: none;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

li .header {
    display: flex;
    justify-content: space-between;
}

.header .name {
    margin: 15px;
    font-weight: bold;
    color: #6E6E6E;
}

.header .time {
    color: #A4A4A4;
    margin: 15px;
}

li p {
    margin: 15px;
    margin-top: 0;
    color: #848484;
}

li .name,.time,p{
    /*border: 1px solid brown;*/
}


textarea {
    width: 90%;
    font-size: 30px;
    background-color: #A9E2F3;
    margin-top: 10px;
    margin-bottom: 20px;
    flex: 2;

}


.btn {
    width: 100%;
    /*border: 1px solid yellow;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8D8D8;
    margin: 10px;
}

.btn button {
    width: 300px;
    height: 60px;
    background-color: #00BFFF;
    border-style: none;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    margin: 5px;
}